*, *::after, *::before{
    box-sizing: border-box !important;
}

body{
    margin: auto;
    background-color: var(--dark-color);
}

h1{
    font-weight: bold;
    font-size: 46px;
    color: var(--text-default-color);
}

h2{
    font-weight: bold;
    font-size: 30px;
    padding: 0 !important;    
    color: var(--text-default-color);
}

h3{
    font-size: 24px;
    color: var(--text-default-color);
}
p{
    color: var(--text-default-color);
}

main{
    min-height: 100vh;
}

.navbar > div{
    background-color: var(--tertiary-color);
}
.navbar > div > div{
    height: 100%;
}
.nav-link{
    color: white !important;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4em;
    text-align: center;
}

.nav-link:hover{
    color: black !important;
    background-color: white;
}

.row{
    margin: 0 auto;
}

#search-bar{
    border-radius: 0;
}
#search-bar:focus{
    box-shadow: none;
}

.search button{
    width: 25%;
    height: 100%;
    padding: .25em;
    position: absolute;
    right: 0px;
    background: none;
    border: none;
    display: flex;
    align-items: center;
}

.search button:focus{
    box-shadow: none;
}

button:hover .svg-icon.search-icon{
    scale: .8;
    rotate: 15deg;
}

.svg-icon.search-icon {
    transition: .25s all;
    scale: .6;
    width: 100%;
    height: 100%;
}

.search-path {
    stroke: #111516;
    stroke-width: 2px;
}

.search{
    position: relative;
}

input.form-control{
    height: calc(1.5em + .75rem + 4px) !important;
}
.information {
    position: relative;
}

.information img{
    float: right;
    width: 50%;
}

article{
    box-shadow: rgba(0, 0, 0, 0.245) 0px 4px 12px;
    background-color: var(--primary-color);
}

.related .row div > div{
    border: 2px solid rgba(40, 40, 40, 0.323);
    text-align: center;
    height: 100%;
    width: 100%;
}

.related a{
    display: block;
    color: black;
    text-decoration: none;
    width: 100%;
    height: 100%;
}

.related a:hover h3{
    color: green;
}

.related a:hover img{
    scale: 1.2;
}

.related img{
    transition: .5s all;
    width: 100%;
}

.related .row h3{
    font-size: 36px;
    font-weight: bold;
}

.related .cover{
    width: 100%;
    height: 12em;
    position: relative;
    overflow: hidden;
}

.related .cover img{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    object-fit: cover;
    min-height: 100%;
    min-width: 100%
}

footer{
    background-color: var(--primary-color);
}

footer ul{
    list-style-type: none;
}
footer h2{
    color: var(--text-default-color);
}
footer a{
    color: var(--text-default-color);
    font-weight: bold;
}

footer h2{
    font-size: 24px;
    margin: 0;
}
#darkButton{
    position: relative;
    width: 60px;
    height: 30px;
    border-radius: 15px;
    background-color: #c9c9c9;
    border: 1px solid black;
    overflow: hidden;
    cursor: pointer;
}
#darkButton::before{
    transition: all .25s;
    content: '';
    width: 30px;
    height: 30px;
    background-color: #858585;
    position: absolute;
    left: 0;
    border-radius: 50%;
    transform: translate(-2.5%);
}
:root[data-theme='dark'] #darkButton::before{
    transform: translate(97.5%);
}

.navbar-brand{
    width: 80%;
    margin: 0 auto;
}
#navbarSupportedContent{
    width: 100%;
    padding-left: 11%;
    padding-right: 11%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#settings-button{
    border: none;
    background: none;
    transition: all .1s;
}
#settings-button.active{
    transform: rotate(180deg);
}
#settings-button svg{
    height: 40px;
    width: 40px;
    transition: all .1s;
}
#settings-button:hover svg{
    scale: 1.25;
}

#settings{
    transition: all .5s;
    z-index: -1;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: var(--tertiary-color);
    width: 100%;
    height: 5em;
}
#settings.active{
    transform: translateY(100%);
}
#settings ul{
    margin: 0;
    padding-left: 1em;
    list-style-type: none;
}