:root[data-theme="light"]{
    --primary-color: rgb(45, 45, 45);
    --secondary-color: rgb(152, 228, 151);
    --tertiary-color: rgb(175, 16, 16);
    --dark-color: #26302A;
    --light-color: #EDF7EB;
}

:root[data-theme="dark"]{
    --primary-color: rgb(178, 39, 39);
    --secondary-color: rgb(152, 228, 151);
    --tertiary-color: rgb(175, 16, 16);
    --dark-color: #1dbb5c;
    --light-color: #EDF7EB;
}
