.company{
    font-size: 50px;
}
*, ::after, ::before{
    box-sizing: border-box;
}

body{
    margin: auto;
}

.articles{
    width: 80%;
    margin: 0 auto;
}

.articles > div{
    padding: calc(var(--bs-gutter-x) * .5);
}

.articles > div > div{
    border: 1px solid rgba(40, 40, 40, 0.323);
    text-align: center;
    height: 100%;
    width: 100%;
}

.articles img{
    width: 100%;

}

footer{
    background-color: gray;
}

.startup{
    width: 100%;
    height: 100vh;
    background-image: url("https://wallpapers.com/images/hd/nature-of-waterfalls-2ygv7ssy2k0lxlzu.jpg");
    background-attachment: fixed;
    background-size: cover;
}

.startup h1{
    top: 50%;
    color: aliceblue;
    text-shadow: 2px 2px #111516;
}

.nav-link{
    color: white !important;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4em;
    text-align: center;
}

.nav-link:hover{
    color: black !important;
    background-color: white;
}

#


.search button{
    width: 25px;
    height: 100%;
    padding: 0;
    position: absolute;
    right: 5%;
    background: none;
    border: none;
    display: flex;
    align-items: center;
}

.search button:focus{
    box-shadow: none;
}

button:hover .svg-icon.search-icon{
    scale: .8;
    rotate: 15deg;
}

.svg-icon.search-icon {
    transition: .25s all;
    scale: .6;
    width: 100%;
    height: 100%;
}

.search-path {
    stroke: #111516;
    stroke-width: 2px;
}

.search{
    position: relative;
}
input.form-control{
    font-weight: bold;
    transition: all .15s ease-in-out;
    width: 8em;
    border-radius: 25px;
    padding: 0 !important;
    padding-left: .5em !important;
    height: 100%;
}
.forms:hover input.form-control{
    width: 18em;
}
@media screen and (max-width: 500px) {
    .row{
        width: 100% !important;
    }
    .related{
        width: 100% !important;
    }
}

.row{
    width: 80%;
}
.related{
    width: 60%;
}

/* Related articles section */
.related-article{
    height: 100%;
    width: 100%;
    display: block;
    background-color: var(--primary-color);
    transition: transform .25s;
    box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.137);
}
.related-article:hover{
    text-decoration: none;
    transform: scale(1.025);
}

.related-article h3{
    font-size: 36px;
    font-weight: bold;
}
.related-article .cover{
    width: 100%;
    height: 12em;
    position: relative;
    overflow: hidden;
}
.related-article .cover img{
    transition: .5s all;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    object-fit: cover;
    height: 100%;
    width: 100%;
    aspect-ratio: 16 / 9;
}