.company{
    font-size: 50px;
}
*, ::after, ::before{
    box-sizing: border-box;
}

body{
    margin: auto;
}

.articles{
    width: 80%;
    margin: 0 auto;
}

.articles > div{
    padding: calc(var(--bs-gutter-x) * .5);
}

.articles > div > div{
    border: 1px solid rgba(40, 40, 40, 0.323);
    text-align: center;
    height: 100%;
    width: 100%;
}

.articles img{
    width: 100%;

}

footer{
    background-color: gray;
}

.startup{
    width: 100%;
    height: calc(100vh - 99.8167px);
}
.startup .front-page{
    z-index: -1;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/test.webp");
    background-position: center;
    background-size: cover;
}
.startup .company{
    position: absolute;
    top: 36%;
    color: var(--light-color);
}

.main-content{
    background-color: var(--bg-color);
}

.nav-link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4em;
    text-align: center;
}



@media screen and (max-width: 500px) {
    .row{
        width: 100% !important;
    }
    .related{
        width: 100% !important;
    }
}

.row{
    width: 80%;
}
.related{
    width: 60%;
}

/* Related articles section */
.related-article{
    height: 100%;
    width: 100%;
    display: block;
    background-color: var(--primary-color);
    transition: transform .25s;
    box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.137);
}
.related-article:hover{
    text-decoration: none;
    transform: scale(1.025);
}

.related-article h3{
    font-size: 36px;
    font-weight: bold;
}
.related-article .cover{
    width: 100%;
    height: 12em;
    position: relative;
    overflow: hidden;
}
.related-article .cover img{
    transition: .5s all;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    object-fit: cover;
    height: 100%;
    width: 100%;
    aspect-ratio: 16 / 9;
}